body {
  background-color: hsl(0, 0%, 0%);
  margin: 0;
  overflow: hidden;
}
#interfaceDiv {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#canvas {
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  width: 100vw;
  height: 100vh;
}